<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
</head>
<body>

	<div th:fragment="main" class=" col-xs-12 " align="left">

		<div class="row col-xs-4 ">
			<a href="#">
				<div class="panel panel-default">
					<div class="panel-heading" align="center">
						<span class="glyphicon glyphicon-user gi-5x"><h2>Alumnos</h2></span>
					</div>
				</div>
			</a>
		</div>

		<div class="row col-xs-4 ">
			<a href="#">
				<div class="panel panel-default">
					<div class="panel-heading" align="center">
						<span class="glyphicon glyphicon-book gi-5x"><h2>Cursos</h2></span>
					</div>
				</div>
			</a>
		</div>

		<div class="row col-xs-4 ">
			<a href="#">
				<div class="panel panel-default">
					<div class="panel-heading" align="center">
						<span class="glyphicon glyphicon-apple gi-5x"><h2>Docentes</h2></span>
					</div>
				</div>
			</a>
		</div>
		
	</div>
	
</body>
</html>
