<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Gestion Alumno</title>
	<link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css" type="text/css"/>
  </head>

  <body>

	<nav class="navbar navbar-default">
			  <div class="container-fluid">
					<div class="navbar-header">
			      <a class="navbar-brand" href="#">SISTEMA DE MANTENIMIENTO WEB</a>
			    </div>
			    <div class="collapse navbar-collapse" id="ejemplo1">
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="../login.html">CERRAR SESION</a></li>
			      </ul>
			    </div>
			  </div>
		</nav>
	<div class="container">

		<h3>OPCIONES</h3>
		<div class="container well ">
			<div class="row">
				<div class="col-xs-2 ">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#cursoBARRA" aria-expanded="false" class="collapsed" >
									<span class="glyphicon glyphicon-user" aria-expanded="true"></span>CURSOS
								</a>
							</h4>
						</div>

						<div class="panel-collapse collapse" id="cursoBARRA" aria-expanded="false">
							<div class="panel-body">
									<li><a href="curso_Agregar.html" th:href="@{/curso/form}">Registrar</a></li>
									<li><a href="curso_Ver.html" th:href="@{/curso/all}">Buscar</a></li>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#alumnoBARRA" aria-expanded="true" >
									<span class="glyphicon glyphicon-user" aria-expanded="true"></span>ALUMNO
								</a>
							</h4>
						</div>
						<div class="panel-collapse collapse in" id="alumnoBARRA">
							<div class="panel-body">
									<li><a href="alumno_Agregar.html" th:href="@{/alumno/form}">Registrar</a></li>
									<li><a href="alumno_Ver.html" th:href="@{/alumno/all}">Buscar</a></li>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#docenteBarra" aria-expanded="false" class="collapsed" >
									<span class="glyphicon glyphicon-user" aria-expanded="true"></span>DOCENTE
								</a>
							</h4>
						</div>
						<div class="panel-collapse collapse" id="docenteBarra">
								<div class="panel-body">
									<li><a href="docente_Agregar.html" th:href="@{/docente/form}">Registrar</a></li>
									<li><a href="docente_Ver.html" th:href="@{/docente/all}">Buscar</a></li>
								</div>
						</div>
					</div>

				</div>

				<div class="col-xs-10 ">
					<div ><h2>GESTION DE ALUMNOS</h2></div>
					
					<div class="panel panel-default well">
											
						<ul class="tab-content">
							
								<h1>AGREGAR ALUMNO</h1>
								<form th:action="@{/alumno/add}" th:object="${alumno}"  method="post">
									<div class="form-group">
										<label for="codigo">Codigo (*)</label>
										<input type="text" class="form-control" id="codigo" placeholder="Ingrese Codigo" required="" th:field="*{codigo}" />
										<label for="nombre">Nombre (*)</label>
										<input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre" required="" th:field="*{nombre}" />
								    	<label for="apellido_paterno">Apellido Paterno(*)</label>
								    	<input type="text" class="form-control" id="apellido_paterno" placeholder="Ingrese Apellido Paterno" required="" th:field="*{apPaterno}" />
										<label for="apellido_materno">Apellido Materno(*)</label>
								    	<input type="text" class="form-control" id="apellido_materno" placeholder="Ingrese Apellido Materno" required="" th:field="*{apMaterno}" />
										<label for="plan">Plan (*)</label>
							            <select class="form-control" th:field="*{idPlan}" >
							                 <option th:each="plan : ${listaPlan}" th:value="${plan.idplan}" th:text="${plan.planNombre}"/>
							            </select>
									</div>

									<h2>Datos Opcionales</h2>

									<div class="form-group">
										<label for="FecNac">Fecha de Nacimiento</label>
					          			<input type="date" id="FecNac" class="form-control"  ></input>
										<label >Sexo</label>
										<select name="Sexo" class="form-control" >
											<option value="M">MASCULINO</option>
											<option value="F">FEMENINO</option>
										</select>
					          			<label for="DNI">DNI</label>
								    	<input type="text" class="form-control" id="DNI" placeholder="DNI" />
									  	<label for="Telefono">Telefono</label>
								    	<input type="text" class="form-control" id="Telefono" placeholder="Telefono" />
									  	<label for="Correo">Correo</label>
								    	<input type="email" class="form-control" id="Correo" placeholder="Introduce Correo" />
									  	<label for="Direccion">Direccion</label>
										<input type="text" class="form-control" id="Direccion" placeholder="Direccion" />
								 	</div>
									<label>(*) Campos obligatorios</label>
								 	<button type="submit" class="btn btn-default">Enviar</button>
								</form>
							
							
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
