<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Gestion Docente</title>
	<link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="../../static/css/style.css"/>
  <link rel="stylesheet" href="/sismanweb/static/css/style.css"/>
  </head>



  <body>
	<!-- **********************************Inicio  barrra lateral**********************************-->
	<div class="row col-xs-3" >
		<div class="nav-side-menu">
			    <div class="brand"><h3>SISTEMA DE MANTENIMIENTO WEB</h3></div>
			    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
			  
			        <div class="menu-list">
			  
			            <ul id="menu-content" class="menu-content collapse out">
			                <li>
			                  <a href="#">
			                  <i class="fa fa-dashboard fa-lg"></i> OPCIONES
			                  </a>
			                </li>

			                <li  data-toggle="collapse" data-target="#curso" class="collapsed active">
			                  <a href="#"><i class="fa fa-gift fa-lg"></i>&nbsp;<span class="glyphicon glyphicon-book">&nbsp;CURSOS</span></a>
			                </li>
			                <ul class="sub-menu collapse" id="curso">
			                    <li><a href="curso_Agregar.html" th:href="@{/curso/form}">Registrar</a></li>
								<li><a href="curso_Ver.html" th:href="@{/curso/all}">Buscar</a></li>
			                </ul>


			                <li data-toggle="collapse" data-target="#alumno" class="collapsed">
			                  <a href="#"><i class="fa fa-globe fa-lg"></i>&nbsp;<span class="glyphicon glyphicon-user" >&nbsp; ALUMNO </span></a>
			                </li>  
			                <ul class="sub-menu collapse" id="alumno">
			                  <li><a href="alumno_Agregar.html" th:href="@{/alumno/form}">Registrar</a></li>
							  <li><a href="alumno_Ver.html" th:href="@{/alumno/all}">Buscar</a></li>
			                </ul>


			                <li data-toggle="collapse" data-target="#new" class="collapsed">
			                  <a href="#"><i class="fa fa-car fa-lg"></i>&nbsp;<span class="glyphicon glyphicon-apple">&nbsp; DOCENTE </span></a>
			                </li>
			                <ul class="sub-menu collapse" id="new">
			                  <li><a href="docente_Agregar.html" th:href="@{/docente/form}">Registrar</a></li>
							  <li><a href="docente_Ver.html" th:href="@{/docente/all}">Buscar</a></li>
			                </ul>


			            </ul>
			     </div>
		</div>

	</div>
	<!-- **********************************Fin barrra lateral**********************************-->
	
	

		
		
			
				

				<div class="col-xs-9 ">
					<div class="col-xs-12 well">
						<div align="left" class="col-xs-6">
							<h2 >GESTION DE ALUMNOS</h2>
							
							
						</div>
						<div align="right" class="col-xs-6">
						
							<button class="btn btn-primary" onclick="location='../login.html'">CERRAR SESION</button>
						</div>
						
					</div>

					

						<ul class="tab-content">

								<h1>AGREGAR DOCENTE</h1><hr>
								<form role="form">

							  		<div class="form-group">
										<label for="nombre">Codigo (*)</label>
								    	<input type="text " class="form-control" id="codigo" placeholder="Ingrese Codigo" required=""></input>
								    	<label for="nombre">Nombre (*)</label>
								    	<input type="text " class="form-control" id="nombre" placeholder="Ingrese Nombre" required=""></input>
								    	<label for="Apellido_paterno_p">Apellido Paterno(*)</label>
								    	<input type="text " class="form-control" id="Apellido_paterno" placeholder="Ingrese Apellido_p" required=""></input>
										<label for="Apellido_materno_m">Apellido Materno(*)</label>
								    	<input type="text " class="form-control" id="Apellido_materno" placeholder="Ingrese Apellido_m" required=""></input>
										<label >Categoria (*)</label>
					            	<select name="Categoria" class="form-control">
					                        <option value="1">Principal</option>
					                        <option value="2">Asociado</option>
					                        <option value="3">Auxiliar</option>
					                        <option value="4">Jefe de Practica</option>
					            	</select>
										<label >Departamento Academico (*)</label>
										<select name="Departamento_Academico" class="form-control">
					                        <option value="13">ADMINISTRACION</option>
					                        <option value="15">AUXILIAR</option>
					                        <option value="5">CIENCIAS CONTABLES</option>
					                        <option value="1">CIENCIAS DE LA COMPUTACION</option>
											<option value="11">CIENCIAS FISICAS</option>
					                        <option value="9">CIENCIAS MATEMATICAS</option>
					                        <option value="6">CIENCIAS SOCIALES</option>
					                        <option value="8">DISEÑO Y TECNOLOGIA INDUSTRIAL</option>
					            		</select>
								  </div>

								  <h2>Datos Opcionales</h2><hr>
								 	<div class="form-group">
										<label >Fecha de Nacimiento</label>
					          			<input type="date" name="fechaInicio" class="form-control"  ></input>
										<label >Sexo</label>
										<select name="Sexo" class="form-control">
											<option value="M">MASCULINO</option>
											<option value="F">FEMENINO</option>
										</select>
					          			<label for="DNI">DNI</label>
								    	<input type="text " class="form-control" id="DNI" placeholder="DNI"></input>
									  	<label for="Telefono">Telefono</label>
								    	<input type="text " class="form-control" id="Telefono" placeholder="Telefono"></input>
									  	<label for="Correo">Correo</label>
								    	<input type="email" class="form-control" id="Correo" placeholder="Introduce Correo"></input>
									  	<label for="Direccion">Direccion</label>
										<input type="text " class="form-control" id="Direccion" placeholder="Direccion"></input>
								 	</div>

								 <label>(*) Campos obligatorios</label>
								 <button type="submit" class="btn btn-default">Enviar</button>
							</form>

						</ul>
					
				</div>
			
		

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
