<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Gestion Docente</title>
	<link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css" type="text/css"/>
  </head>



  <body>

	<nav class="navbar navbar-default">
			  <div class="container-fluid">
					<div class="navbar-header">
			      <a class="navbar-brand" href="#">SISTEMA DE MANTENIMIENTO WEB</a>
			    </div>
			    <div class="collapse navbar-collapse" id="ejemplo1">
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="login.html">CERRAR SESION</a></li>
			      </ul>
			    </div>
			  </div>
		</nav>
	<div class="container">

		<h3>OPCIONES</h3>
		<div class="container well ">
			<div class="row">
				<div class="col-xs-2 ">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a href="curso_Agregar.html" th:href="@{/curso/add}">
									<span class="glyphicon glyphicon-user" aria-expanded="true"></span>CURSOS
								</a>
							</h4>
						</div>

						<div class="panel-collapse collapse " id="cursoBARRA">
							<div class="panel-body">
									<li><a href="curso_Agregar.html" th:href="@{/curso/add}">Agregar</a></li>
									<li><a href="curso_Ver.html" th:href="@{/curso/all}">Ver</a></li>
									<li><a href="curso_Eliminar.html" th:href="@{/curso/delete}">Eliminar</a></li>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a href="alumno_Agregar.html" th:href="@{/alumno/add}">
									<span class="glyphicon glyphicon-user" aria-expanded="true"></span>ALUMNO
								</a>
							</h4>
						</div>
						<div class="panel-collapse collapse " id="alumnoBARRA">
							<div class="panel-body">
									<li><a href="alumno_Agregar.html" th:href="@{/alumno/add}">Agregar</a></li>
									<li><a href="alumno_Ver.html" th:href="@{/alumno/all}">Ver</a></li>
									<li><a href="alumno_Eliminar.html" th:href="@{/alumno/delete}">Eliminar</a></li>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a href="docente_Agregar.html" th:href="@{/docente/add}">
									<span class="glyphicon glyphicon-user" aria-expanded="true"></span>DOCENTE
								</a>
							</h4>
						</div>
						<div class="panel-collapse collapse in " id="docenteBarra">
								<div class="panel-body">
									<li><a href="docente_Agregar.html" th:href="@{/docente/add}">Agregar</a></li>
									<li><a href="docente_Ver.html" th:href="@{/docente/all}">Ver</a></li>
									<li><a href="docente_Eliminar.html" th:href="@{/docente/delete}">Eliminar</a></li>
								</div>
						</div>
					</div>

				</div>
				
				<div class="col-xs-10 ">
					<div ><h2>GESTION DE DOCENTES</h2></div>
				
					<div class="panel panel-default well">
										
						<ul class="tab-content">			
							
								<h1>AGREGAR DOCENTE</h1>
								<form role="form">

							  		<div class="form-group">
										<label for="nombre">Codigo (*)</label>
								    	<input type="text " class="form-control" id="codigo" placeholder="Ingrese Codigo" required=""></input>
								    	<label for="nombre">Nombre (*)</label>
								    	<input type="text " class="form-control" id="nombre" placeholder="Ingrese Nombre" required=""></input>
								    	<label for="Apellido_paterno_p">Apellido Paterno(*)</label>
								    	<input type="text " class="form-control" id="Apellido_paterno" placeholder="Ingrese Apellido_p" required=""></input>
										<label for="Apellido_materno_m">Apellido Materno(*)</label>
								    	<input type="text " class="form-control" id="Apellido_materno" placeholder="Ingrese Apellido_m" required=""></input>
										<label >Categoria (*)</label>
					            	<select name="Categoria" class="form-control">
					                        <option value="1">Principal</option>
					                        <option value="2">Asociado</option>
					                        <option value="3">Auxiliar</option>
					                        <option value="4">Jefe de Practica</option>
					            	</select>
										<label >Departamento Academico (*)</label>
										<select name="Departamento_Academico" class="form-control">
					                        <option value="13">ADMINISTRACION</option>
					                        <option value="15">AUXILIAR</option>
					                        <option value="5">CIENCIAS CONTABLES</option>
					                        <option value="1">CIENCIAS DE LA COMPUTACION</option>
											<option value="11">CIENCIAS FISICAS</option>
					                        <option value="9">CIENCIAS MATEMATICAS</option>
					                        <option value="6">CIENCIAS SOCIALES</option>
					                        <option value="8">DISEÑO Y TECNOLOGIA INDUSTRIAL</option>
					            		</select>
								  </div>

								  <h2>Datos Opcionales</h2>
								 	<div class="form-group">
										<label >Fecha de Nacimiento</label>
					          			<input type="date" name="fechaInicio" class="form-control"  ></input>
										<label >Sexo</label>
										<select name="Sexo" class="form-control">
											<option value="M">MASCULINO</option>
											<option value="F">FEMENINO</option>
										</select>
					          			<label for="DNI">DNI</label>
								    	<input type="text " class="form-control" id="DNI" placeholder="DNI"></input>
									  	<label for="Telefono">Telefono</label>
								    	<input type="text " class="form-control" id="Telefono" placeholder="Telefono"></input>
									  	<label for="Correo">Correo</label>
								    	<input type="email" class="form-control" id="Correo" placeholder="Introduce Correo"></input>
									  	<label for="Direccion">Direccion</label>
										<input type="text " class="form-control" id="Direccion" placeholder="Direccion"></input>
								 	</div>

								 <label>(*) Campos obligatorios</label>
								 <button type="submit" class="btn btn-default">Enviar</button>
							</form>
							
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
