<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>SISMANWEB</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/static/css/login.css}" rel="stylesheet" />
    <link href="#" th:href="@{/static/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <link rel="stylesheet" href="/sismanweb/static/css/style.css"/>

  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="#" th:action="@{/validar}" th:object="${persona}" method="post">
        <h2 class="form-signin-heading">Ingresar</h2>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" th:field="*{personaCodigoSistema}"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" th:field="*{personaPasswordSistema}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
        	<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Entrar
        </button>
      </form>

    </div> <!-- /container -->
    <!--  Footer -->
      <div id="footer-container">
          <div class="container">
            <h3>Area de Desarrollo y Soporte Tecnico</h3>
          </div>
      </div>
      <!-- Fin de Footer-->
</body>
</html>
