<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" >
<head>
  <meta charset="UTF-8"/>
  <title>SISMAN WEB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
  
  <link rel="stylesheet" href="../static/css/style_login.css" type="text/css"/>
  
  <link rel="stylesheet" href="/sismanweb/static/css/style_login.css"/>
  <link rel="stylesheet" media="screen" href="../static/css/style_particulas.css"/>
  <link rel="stylesheet" media="screen" href="/sismanweb/static/css/style_particulas.css"/>
 
  
</head>

<body>

  <div class="titulo">
    <h1>SISTEMA DE MANTENIMIENTO WEB</h1>
  </div>
  
  <div class='login'>
    <form th:action="@{/validar}" th:object="${persona}" method="post">
	  <h2>Iniciar Sesion</h2>
	  <input name='username' placeholder='Usuario' type='text' th:field="*{personaCodigoSistema}"/>	  
	  <input id='pw' name='password' placeholder='Contraseña' type='password'/>	  	  
	  <input type='submit' value='Ingresar'/>
  	</form>
  </div>
  <div id="particles-js"></div>
  
 <script src="../static/js/particles.js"></script>
 <script src="/sismanweb/static/js/particles.js"></script>

 <script src="../static/js/app_config_particulas.js"></script>
 <script src="/sismanweb/static/js/app_config_particulas.js"></script>


</body>
</html>
