<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	
	<!--**********************IAviso********************** -->
	<div th:fragment="contentCursoAvisoExitoReg">
		<div class="text-center">
		<p class="lead">Curso registrado exitosamente!</p>
		<a href="#" th:href="@{/curso/form}"><button type="button" class="btn btn-primary">Volver a registro</button></a>
		<a href="#" th:href="@{/curso/all}"><button type="button" class="btn btn-primary">Ir al buscador</button></a>
		</div>	
	</div>
	
	<div th:fragment="contentCursoAvisoExitoEquiv">
		<div class="text-center">
		<p class="lead">Curso asociado exitosamente!</p>
		<a href="#" th:href="@{/curso/conjunto}"><button type="button" class="btn btn-primary">Asociar otro curso</button></a>
		<a href="#" th:href="@{/curso/all}"><button type="button" class="btn btn-primary">Ir al buscador</button></a>
		</div>	
	</div>
	
	<div th:fragment="contentCursoAvisoError">
		<p>Hubo un error al asociar</p>
	</div>
	<!--**********************FAviso********************** -->

</body>
</html>